nav{
    background-color: #f6f8fa;
    padding: 15px;
    position: relative;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.first__part{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.left__side{

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}
.left__side > i{
    border: 1px solid #d0d7de;
    color: #636c76;
    padding: 5px;
    border-radius: 5px;
}
.left__side > img{
    width: 50px;
    height: 50px;
}
.right__side{
    /* width: 40%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__input{
    border: 1px solid #d0d7de;
    /* width: 55%; */
    margin-right: 10px;
    position: relative;
    border-radius: 5px;
}
.search__input > input{
    width: 100%;
    height: 35px;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding-left: 50px;
}
.search__input > i{
    color:#d0d7de;
}
.search__input > i:first-of-type{
    position: absolute;
    top: 12px;
    left: 20px;
}
.search__input > i:last-of-type{
    position: absolute;
    top: 12px;
    right: 20px;
    border-left: 1px solid #d0d7de;
    padding-left: 10px;
}
.icons{
    padding: 10px 20px;
    border: 1px solid #d0d7de;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #636c76;
    margin-right: 10px;
}
.third__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #636c76;
}
.third__icons > i{
    padding: 10px;
    border: 1px solid #d0d7de;
    border-radius: 5px;
}
.third__icons > img{
    width: 30px;
    height: 30px;
    border: 1px solid #d0d7de;
    padding: 6px;
    border-radius: 50%;
}
.second__part > ul{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: -35px;
    flex-wrap: wrap;
}

.second__part > ul > li{
    list-style: none;
}
.second__part > ul > li > i{
    color: #636c76;
}
.second__part > ul > li.active{
    font-weight: 600;
    border-bottom: 3px solid red;
    padding-bottom: 5px;
}
.body__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.left__div{
    width: 26%;
}
.left__div > img{
    width: 100%;
    border-radius: 50%;
}
.user__info > h1{
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
}
.user__info > span{
    font-size: 17px;
    display: block;
}
.user__info > button{
    text-align: center;
    width: 100%;
    height: 30px;
    color: black;
    outline: 0;
    border: 1px solid #d0d7de;
    border-radius: 5px;
    cursor: pointer;
}
.followers{
    display: flex;
    align-items: center;
    gap: 10px;
}
.followers > p >span{
    font-weight: 600;
}
.right__div{
    width: 70%;
}
@media(max-width:1300px){
    .container{
        width: 95%;
    }
  }
@media(max-width:1100px){
    .left__div{
        width: 32%;
    }
    .right__div{
        width: 65%;
    }
  }
@media(max-width:900px){
    .left__div{
        width: 100%;
    }
    .right__div{
        width: 100%;
    }
    .left__div > img{
        width: 40%;
        margin-left: 50%;
        transform: translateX(-60%)
    }
    .user__info > h1,
    .user__info > span{
        text-align: center;
    }
  }
@media(max-width:700px){
    .left__side{
        width: 100%;
    }
  }
@media(max-width:650px){
    .second__part > ul{
        gap: 20px;

    }
  }
@media(max-width:550px){
    .second__part > ul > li{
        width: 30%;
    }
  }
@media(max-width:500px){
    .second__part > ul > li{
        width: 46%;
    }
  }
@media(max-width:440px){
    .icons{
        display: none;
    }
  }
@media(max-width:370px){
    .right__side{
        flex-wrap: wrap;
    }
    .search__input{
        width: 100%;
        margin-bottom: 10px;
    }
    .icons{
        display: flex;
    }
    .search__input>input {
        width: 80%;
    }
  }
@media(max-width:320px){
    .second__part > ul > li.active{
        font-weight: normal;
    }
  }